/*CSS DOCUMENT*/

h1{
font-family: cursive;
}
h2{
font-family: serif;
color: rgb(105, 191, 100);
}
h3{
font-family: serif;
}
body{
background-color: rgb(240, 204, 221);
align-content: center;
}
nav ul li{
    display: inline;
    list-style-type: none;
    margin-right: 1em;
    font-family: cursive;
}
nav ul li a{
    color: #222222;
    text-decoration: none;
}
nav ul li a:hover{
    color: rgb(105, 191, 100);
}

img {
    width: 50%; 
}
