/*CSS DOCUMENT*/

h1{
font-family: cursive;
text-decoration: none;
align-content: center;
}
h2{
font-family: serif;
color: rgb(105, 191, 100);
}
h3{
font-family: serif;
}
body{
background-color: rgb(240, 204, 221)    
}
nav ul li{
    display: inline;
    list-style-type: none;
    margin-right: 1em;
    font-family: cursive;
}
nav ul li a{
    text-decoration: none;
}

img {
    width: 50%; 
}
