/*CSS DOCUMENT*/

div.container{
    display: grid;
    max-width: 40em;
    margin: 0 auto;
    grid-gap: 1em;
}
header{
    grid-column: 1/4;
}
figure{
    display: grid;
    grid-template-columns: 75% 25%;
    margin: auto;
}
img{
    column-width: 75%;
}
figcaption{
    column-width: 25%;
}
main{ 
    grid-area: main;
    display: grid;
    grid-template-columns: 50% 50%;
    margin: auto;
}
.ingredients{
    column-width: 50%;
}
.directions{
    column-width: 50%;
}
footer{
    grid-column: 1/4;
}

h1{
    font-family: serif;
    text-align: left;
    color: rgb(218, 165, 32);
    background-color: rgb(128, 0, 32);
}
h2{
    font-family: serif;
    text-align: left;
    color: rgb(128, 0, 32);
}
h3{
    font-family: serif;
    color: rgb(111, 78, 55);
}
body {
    background-color: rgb(245, 245, 220);
}
img {
    width: 100%; /*Please leave this line.*/
}
