/*CSS DOCUMENT*/

div.container{
    display: grid;
    max-width: 40em;
    margin: 0 auto;
    grid-gap: 1em;
    grid-template-columns: repeat(1fr, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
header{
    grid-column: 1/2;
}
figure{
    grid-column: 1/2;
}
figure img{
    grid-column: 75%, 25%;
}
figure figcaption{
    grid-column: 25%, 75%;
}
main{ 
    grid-column: 1/4;
}
main ingredients{
    grid-column: 50%, 50%;
}
main directions{
    grid-column: 50%, 50%;
}
footer{
    grid-column: 1/4;
}

h1{
    font-family: serif;
    text-align: left;
    color: rgb(218, 165, 32);
    background-color: rgb(128, 0, 32);
}
h2{
    font-family: serif;
    text-align: left;
    color: rgb(128, 0, 32);
}
h3{
    font-family: serif;
    color: rgb(111, 78, 55);
}
body {
    background-color: rgb(245, 245, 220);
}
img {
    width: 100%; /*Please leave this line.*/
}
