/*CSS DOCUMENT*/

h1{
    font-family: serif;
    color: rgb(218, 165, 32);
    background-color: rgb(128, 0, 32);
}
h2{
    font-family: serif;
    color: rgb(128, 0, 32);
}
h3{
    font-family: sans-serif;
    color: rgb(111, 78, 55);
}
img {
    width: 100%; /*Please leave this line.*/
}
